body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.control-panel {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 60px 20px 20px;
  width: 300px;
  text-align: center;
}

.brand-name.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}

.temperature-control {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.temperature-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.temperature-buttons button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.temperature-buttons button:hover {
  background: #0056b3;
}

.mode-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.mode-buttons button {
  background: #e0e0e0;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.mode-buttons button.active {
  background: #007bff;
  color: #fff;
}

.mode-buttons button:hover {
  background: #add8e6;
}

.dropdowns {
  margin-bottom: 20px;
  text-align: left;
}

.dropdowns label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.dropdowns select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.send-command-button {
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.send-command-button:hover {
  background: #218838;
}